.comments-block {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__title {
    margin-right: 20px;
  }
  &__text {
    color: $gray3;
    @include font(16, r, 22px);
    flex-grow: 1;
  }
  &__filters {}
  &__actions {}
  &__input-fields {
    display: flex;
    margin-bottom: 30px;
  }
  &__text-input {
    padding-right: 10px;
    flex-grow: 1;
  }
  &__send-btn {
    display: flex;
    width: 36px;
  }
  &__comments-list {}
}