.icon-button {
  padding: 7px;
  cursor: pointer;
  position: relative;

  &:hover {
    background: $gray1;

    &::after {
      content: attr(data-title);
      position: absolute;
      bottom: -25px;
      left: -50px;
      display: block;
      background: $gray6;
      color: $white;
      font-size: 14px;
      min-width: 140px;
      text-align: center;
    }
  }

  &_rounded {
    border-radius: 50%;
  }

  &__badge {
    position: absolute;
    background: $orange2;
    color: $gray6;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 3px;
    bottom: -7px;
    right: -7px;
  }
}
