.radio-wrapper {
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + &__icon,
  [type="radio"]:checked + &__icon {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: block;
  }

  /* radio aspect */
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    transition: background 0.3s;
    border: 1px solid #4a6c87;
    border-radius: 50%;
  }

  /* checked mark aspect */
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4a6c87;
  }

  /* checked mark aspect changes */
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:not(:checked) + &__icon:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:checked + &__icon:after {
    opacity: 1;
    transform: scale(1);
  }

  /* disabled radio */
  [type="radio"]:disabled + label:before {
    background: #f1f2f7;
    border: 1px solid #b2bcca;
  }

  [type="radio"]:disabled + label:after {
    background: #b2bcca;
  }

  [type="radio"]:disabled + label,
  [type="radio"]:disabled + &__icon {
    cursor: default;
  }

  &__desc {
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #b2bcca;
  }
}
