//neutral
$color_black: #222;
$color_white: #ffffff;
$color_grey1: #f1f2f7;
$color_grey2: #dfe4eb;
$color_grey3: #b2bcca;
$color_grey4: #888888;
$color_mainText: #666666;
$color_titleText: #444444;

//blue
$color_blue1: #81a6c3;
$color_blue2: #4a6c87;
$color_blue3: #07041d;
$color_blue4: #23b5f7;

//green
$color_green1: rgba(77, 175, 124, 0.3);
$color_green2: rgba(77, 175, 124, 0.65);
$color_green3: #4daf7c;
$color_green4: #689f38;
$color_rate: #00bfa5;

//orange
$color_orange1: rgba(246, 174, 50, 0.3);
$color_orange2: rgba(246, 174, 50, 0.65);
$color_orange3: #f6ae32;
$color_btnText: #f77424;

//red
$color_red1: rgba(242, 102, 113, 0.3);
$color_red2: rgba(242, 102, 113, 0.65);
$color_red3: #f26671;

//gradient
$color_orange_gr: linear-gradient(90deg, #f09819 0%, #ff512f 100%);
$color_green_gr: linear-gradient(90deg, #98d44b 0%, #3ca55c 100%);
