$section_bottomSpacing_d: 100px; //over 1440
$section_bottomSpacing_l: 100px; //992 - 1400
$section_bottomSpacing_t: 80px; //768 - 992
$section_bottomSpacing_m: 70px; // 567 - 768
$section_bottomSpacing_sm: 60px; // 320- 567